{% extends 'base.html.twig' %}
{% import "macro/bouton.twig" as btn %}

{% block title %}Modification d'un super héros{% endblock %}

{% block body %}
    <div class="w-auto p-5 mx-auto md:w-3/5 h-3/4">
        <div class="flex flex-col w-full my-2 md:flex-row md:justify-between">
            <h1  class="mb-2 text-4xl font-bold">Modification d'un super héros</h1>
            {{ btn.retour(path('app_super_heros_index')) }}
        </div>

    {{ include('super_hero/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('super_hero/_delete_form.html.twig') }}
{% endblock %}
